<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post <%= post.id %></title>
 <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Post Details</h1>

    <div class="button-center">
        <a href="http://localhost:3000/posts" class="new-post">← Back to All Posts</a>
    </div>

    <div class="post">
        <h2 class="user">Post ID: <%= post.id %></h2>
        <h2 class="user">@<%= post.username %></h2>
        <p class="content"><%= post.content %></p>
    </div>

</body>
</html>
